@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Membership for @Model.Name</h4>

    <form asp-action="DeleteAsync">
        <input type="hidden" asp-for="Name" class="form-control" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>


